.transactionHistory {
	color: gray;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	table-layout: fixed;
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border: 1px solid gray;
}
tr, th, td {
	border: 1px solid gray;
}
tbody tr:nth-child(odd) {
  background-color: #ecf1f4;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody td:first-child {
	text-transform: capitalize;
}

table {
  background-color: #00bcd5;
}

thead {
	color: antiquewhite;
	text-transform: uppercase;
}

td, th {
	padding: 16px 0;
}